.excalidraw-title {
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    color: var(--color-gray);
    text-decoration: none;
  }
  
  .excalidraw-title span {
    font-size: 16px;
    color: var(--color-gray);
    text-decoration: none;
    border-bottom: 1px solid var(--color-border-light);
  }
  
  .excalidraw-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .excalidraw-container iframe {
    margin: 2px 0px;
  }
  
  .excalidraw-link {
    display: block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }
  
  a.excalidraw-link {
    background-color: var(--color-primary);
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
    border: 3px solid var(--color-primary);
    transition: border 0.2s ease;
  }
  
  a.excalidraw-link:hover {
    border: 3px solid var(--color-accent);
  }