<footer class="site-footer">
  <div class="footer-content {{ "light" if not isHome }}">
    <p>
      {# {{ "" | year }} {{ site.footer.copyright }}
      — #}
      <a href="/privacy-policy">{{ site.footer.links.privacy }}</a>
      ~
      <a href="/ai-usage">{{ site.footer.links.aiUsage }}</a>
    </p>
  </div>
</footer> 