<header class="site-header">
  {% include "components/top-nav-left.njk" %}
  <div class="site-description">
    <p>
      {{ site.description }}
    </p>
    <p>
      {{ site.subDescription }}
    </p>
  </div>
</header> 