<header class="site-header">
  {% include "components/top-nav-left.njk" %}
 
  <div class="site-description">
    <p>
<b>For the curious. The restless. The ones who tinker late at night.</b>
    </p>
    </p>   
     <p>
The data world doesn’t tell many stories. There's no Hollywood gloss — no glowing terminals, no cinematic stakes. It is abstract, heavy, and a little dry. But behind every system are human choices — trade-offs, late-night bugs, quiet breakthroughs.
    </p>   
    <p>
SkewSkew is where I share those stories.
The human side of building with data. What I’ve learned. What I’m still learning.

If that speaks to you, 🖖 welcome and I hope you enjoy my content.</p>    
  </div>
   <div class="author-section">
    <a href="https://www.linkedin.com/in/aminekaabachi/" target="_blank" rel="noopener noreferrer" class="author-link">
      <img src="https://media.licdn.com/dms/image/v2/D4E03AQEBt3E5FVw8jw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1726866298270?e=1753920000&v=beta&t=ZIbmREQwCrN-DEEP6DfTitZ3gkDcWtt2zw2GP65iJXE" alt="Author avatar" class="author-avatar">
      <div>
        <span class="author-name">Amine Kaabachi</span>
        <span class="author-title">Solution Architect at Databricks</span>
      </div>
    </a>
  </div>
</header>