---
layout: layouts/base.njk
---

<div class="container">
      {% include "components/header.njk" %}
      <main>
        {{ content | safe }}
      </main>
      {% include "components/footer.njk" %}
</div>